* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f44336;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 150px;
}

.container-title {
  padding: 20px;
}

.container-display {
  display: flex;
  width: 100%;
}

.display {
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  background-color: rgb(212, 209, 209);
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(149, 237, 147);
}

.li-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.list-item {
  padding: 15px;
  padding-left: 30px;
  background-color: rgb(222, 211, 211);
  position: relative;
  transition: background-color 0.3s;
}

.list-item:hover {
  background-color: #e3aba7;
}
.close {
  position: absolute;
  right: 20px;
  font-size: large;
  cursor: pointer;
  width: 20px;
  text-align: center;
  transition: color 0.3s;
}
.close:hover {
  color: black;
}

.list-item:nth-child(odd):not(.checked) {
  background-color: white;
  transition: background-color 0.3s;
}
.list-item:nth-child(odd):not(.checked):hover {
  background-color: rgb(171, 164, 164);
  color: white;
}

.list-item:nth-child(even):not(.checked) {
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}
.list-item:nth-child(even):not(.checked):hover {
  background-color: rgb(171, 164, 164);
  color: white;
}

.checked {
  background-color: #888;
  color: white;
  text-decoration: line-through;
  position: relative;
}

.checked::before {
  content: "✔";
  position: absolute;
  left: 10px;
}
